.post_container {
  /* border: 1px solid #ccc; */
  margin: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.user {
  display: flex;
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.image {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user_id {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1.15rem;
}

.post img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.interactions {
  margin-top: 8px;
  margin-left: 6px;
  margin-bottom: 9px;
}
.interactions img {
  margin-left: 10px;
}

.likes {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desc {
  margin-bottom: 5px;
}
.comment_div {
  margin-left: 17px;
}

.comment {
  margin-bottom: 2px;
}

.date {
  margin-left: 16px;
  margin-top: 16px;
  color: #8d8c8c;
  font-size: 0.8rem;
}

.addComment {
  margin-top: 6px;
  margin-left: 15px;
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
  display: flex;
}
.addComment input {
  background: none;
  border: none;
  height: 16px;
  outline: none;
  font: inherit;
  padding: 0;
  width: 100%;
}
.addComment ::placeholder {
  color: #999;
}
.addComment button {
  color: #3897f0;
  font-weight: 600;
  font-size: 16px;
}
